/* LAYOUT
-----------------------------------------------------------*/

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
}

header {
  .mobile-menu-toggle {
    display: none;
  }

  ul {
    align-items: center;
    display: flex;
    padding: 0 1.3125rem;
  }

  li {
    margin-right: 1.3125rem;

    &:first-child, &:nth-child(2) {
      flex: 1;
      padding: 0.5rem 0;
    }
  }

  a {
    display: inline-block;
    font-size: 1.8125rem;
  }

  img {
    max-height: 48px;
  
    &:hover {
      opacity: 0.6;
    }
  }
}

main {
  display: flex;
  flex: 1;
}

footer .container {
  padding: 1rem 1.3125rem;
}

.container {
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;

  &.small-width {
    max-width: 600px;
  }

  &.full-width {
    width: 100%;
  }
}

section {
  width: 100%;

  &:first-child {
    padding-top: 2rem;
  }

  /*&.star-field {*/
    /*background: url('/images/adatra/star-field.jpg') center center;*/
    /*background-size: cover;*/
    /*flex: 1;*/
  /*}*/
}

.slick-arrow {
  height: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
}

.slick-slide {
  margin-right: 0.375rem;

  img {
    width: 100%;
  }
}

.fab {
  color: $white;

  &:hover {
    color: $cyan;
    text-decoration: none;
  }
}

img {
  display: block;
}

.flex {
  display: flex;
}

.center-div {
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.small-margin-bottom {
  margin-bottom: 0.625rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.medium-margin-bottom {
  margin-bottom: 1.8125rem;
}

.large-margin-bottom {
  margin-bottom: 2.625rem;
}

.huge-margin-bottom {
  margin-bottom: 3.975rem;
}

.no-padding {
  padding: 0;
}

.personal-vendetta-download {
  .logo {
    max-width: 500px;
    width: 100%;
  }
}
