/* PALETTE
-----------------------------------------------------------*/

$cyan: #00aeef;
$yellow: #fff200;
$magenta: #ec008c;
$primary: #13ccd8;
$black: #2b252c;
$medium-grey: #a39d9b;
$light-grey: #d4cecb;
$off-white: #f2f1f0;
$white: #ffffff;
$transparent-white: rgba(256, 256, 256, 0.93);
$more-transparent-white: rgba(256, 256, 256, 0.8);
