/* TYPOGRAPHY
-----------------------------------------------------------*/

h2 {
  font-family: "FiraSans-Medium", sans-serif;
  font-size: 2.625rem;
  line-height: 3.975rem;
}

h3 {
  font-family: "FiraSans-Medium", sans-serif;
  font-size: 1.8125rem;
  line-height: 2.625rem;
}

a {
  color: $magenta;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $magenta;
    text-decoration: underline;
  }
}

/*h1 {
}

h2 {
  font-family: 'Campton-Medium', sans-serif;
  font-size: 2.625rem;
  line-height: 2.975rem;
}

h3 {
  font-family: 'Campton-Medium', sans-serif;
  font-size: 1.8125rem;
  line-height: 2.625rem;
}

h4 {
  font-family: 'Campton-Medium', sans-serif;
  font-size: 1.3125rem;
  line-height: 1.5125rem;
}

h6, label {
  display: block;
  font-family: 'Campton-Book', sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.375rem;
  text-transform: uppercase;

  small {
    color: $light-grey;
    font-family: 'Campton-Light', sans-serif;
    font-size: 1rem;
    text-transform: none;
  }

  span {
    display: block;
  }
}


strong {
  font-family: 'Campton-Bold', sans-serif;
}

em {
  font-family: 'Campton-Book-Italic', sans-serif;
}

span.hint {
  color: $light-grey;
  font-size: 1rem;
  text-transform: none;
}
*/
