@import "modules/palette";
@import "modules/mixins";
@import "modules/typography";

body, html {
  height: 100%;
  width: 100%;
}

html {
  font-size: 15px;
}

body {
  background-color: $black;
  background: url('/images/adatra/hero.jpg') center center;
  background-size: cover;
  color: $white;
  font-family: 'FiraSans-Regular', sans-serif;
  line-height: 1.5125rem;
}

::selection {
  background: $magenta;
  color: $white;
}

* {
  box-sizing: border-box;
}

@import "modules/layout";
@import "modules/forms";
/*@import "modules/tables";*/
@import "modules/components";
@import "modules/responsive";
@import "modules/fonts";
